
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Health Clinic Management</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <AuthorizeView Roles="SysAdmin,Doctor">
            <Authorized>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="patients">
                        <span class="fa-solid fa-solid fa-hospital-user px-3" aria-hidden="true"></span> Patient List
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles ="SysAdmin">
            <Authorized>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="staffs">
                        <span class="fa-solid fa-user-nurse px-3" aria-hidden="true"></span> Staff List
                    </NavLink>
                </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="specialties">
                        <span class="fa-solid fa-heart px-3" aria-hidden="true"></span> Specialty List
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles ="Patient">
            <Authorized>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="/profile/">
                        <span class="fa-solid fa-address-card px-3" aria-hidden="true"></span> Profile
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="medicalrecord">
                        <span class="oi oi-plus" aria-hidden="true"></span> Medical Records
                    </NavLink>
                </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="patientapt">
                        <span class="fa-solid fa-calendar-check px-3" aria-hidden="true"></span> Appointments
                    </NavLink>
                </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="payment">
                        <span class="fa-solid fa-credit-card px-3" aria-hidden="true"></span> Payment Methods
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
